.error {
    color: red;
}
input.error {
    border: 1px dotted red;
}
input.error:focus {
    border: 1px dotted red;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(232, 10, 10, 0.6);
}
#errore-ricerca {
    display: none;
}